<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mamba.repository.message.mapper.MessageBoardMapper">

    <!-- 查询所有 -->
    <select id="getFatherMessageList" resultType="com.mamba.repository.message.entity.Message">
        select id,pid,content,author,create_time as createTime from  mt_blog_message
        where pid=0 order by create_time desc
    </select>

    <select id="getChildrenMessageList" resultType="com.mamba.repository.message.entity.Message">
        select id,pid,content,author,create_time as createTime from  mt_blog_message
        where pid = #{pid,jdbcType=INTEGER} order by create_time
    </select>

    <insert id="addMessage">
        insert into mt_blog_message(pid, content, author)
        values (#{pid,jdbcType=INTEGER}, #{content}, #{author})
    </insert>

</mapper>