<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--表明重用预编译的SQL语句-->
    <settings>
        <setting name="defaultExecutorType" value="REUSE"/>
    </settings>
    
    <typeAliases>
        <!--<typeAlias alias="User" type="com.smartnews.repository.auth.entity.User"/>
        <typeAlias alias="UserDetail" type="com.smartnews.repository.auth.entity.UserDetail"/>
        <typeAlias alias="UserFriendship" type="com.smartnews.repository.auth.entity.UserFriendship"/>
        <typeAlias alias="Advertisement" type="com.smartnews.repository.advertisement.entity.Advertisement"/>
        -->
		
	</typeAliases>
	
	
	<mappers>
		
	</mappers>
    
</configuration>