<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mamba.repository.home.mapper.BlogDetailMapper">

    <!-- 查询所有 -->
    <select id="getBlogList" resultType="com.mamba.repository.home.entity.BlogDetail">
        select id,title,summary,publish_time publishTime,category_id categoryId,read_count readCount,url,status from  mt_blog_detail
        where status=0
    </select>

    <update id="addReadCount" >
        update mt_blog_detail set read_count = read_count + 1 where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="rankReading" resultType="com.mamba.repository.home.entity.BlogDetail">
        select id,title,url from mt_blog_detail where status=0 order by read_count desc limit 0,3;
    </select>

</mapper>